{% extends 'base.html' %}

{% block content %}
  {% if not user.is_authenticated %}
    {% block navbar %}{% endblock %}
  {% endif %}
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Please Register</h3>
          </div>
          <div class="panel-body">
                <form method="post" action="{% url 'tadu_server:register' %}">
        {% csrf_token %}
        {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        <button type="submit">Sign up</button>
      </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}